._View
	display: inline-block
	vertical-align: middle
	height: 1.75em
	line-height: @height

	.-Bigger &
	&.-Bigger
		font-size: 1.3em

	.-Biggest &
	&.-Biggest
		font-size: 1.3em

	.-Smaller &
	&.-Smaller
		font-size: 0.9em

	.-Smallest &
	&.-Smallest
		font-size: 0.8em